<!DOCTYPE html>
<html>
  <head>
  	<title>Stuart Family | Home</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Stuart Family</h1>
    <p>
    	Our site is currently under construction just like our little family!
    </p>
  </body>
</html>  
